@model ContactDto
@{
    ViewBag.Title = "Добавление пользователя";
}

<form class="mt-5" asp-action="Add" asp-controller="home">
    <div class=" form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="control-label">Last Name</label>
        <input type="text" asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
        <input placeholder="@ViewBag.IsExist" type="tel" asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button class="btn btn-outline-secondary my-2 my-sm-0 mr-2" asp-controller="Home" asp-action="Index">Cancel</button>
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Add</button>
    </div>

    @if (ViewBag.PhonesCount > 0)
    {
        <p class="text-danger">Contact with this number already exists!</p>
    }
</form>
